<div class="card_dash">

    
    <div class="nav_dash">

        <ul>    

            <div class="card_user" >
                <img src="./../../assets/1077114.png" alt="">
                <p>
                    <span> {{ currentUser.nom }} </span>
                    <span> {{currentUser.prenom}} </span>
                </p>

            </div>

            <li (click)="selected(0)"  [ngClass]="{'selctIn': selecter == 0}"    > {{ 'viewUser.btnpresect' | translate }} </li>        
            <li (click)="selected(1)"  [ngClass]="{'selctIn': selecter == 1}" > {{ 'dashboard.btnvideosNV' | translate }} </li>
            <li (click)="selected(2)"  [ngClass]="{'selctIn': selecter == 2}" > {{ 'dashboard.btnvideosV' | translate }} </li>
            <li (click)="selected(3)"  [ngClass]="{'selctIn': selecter == 3}" > {{ 'dashboard.btnvideosR' | translate }} </li>
            <li (click)="logOut()" >{{ 'dashboard.btnDeconexion' | translate }}</li>

        </ul>

    </div>

        <!-- header mobile select -->

        <div  class="cardHeadMobile" >
            <div class="groupe1Mobile" >

                <img (click)="openMenu()" src="./../../assets/menuHamberger.png" alt="">

                <h1> {{ titleHeadMobile}} </h1>
                <img (click)="editMobile()" src="./../../assets/edit2.png" alt="">
            </div>


           

           </div>


           <div class="navBarMobile" *ngIf="isOpenMenu" >

            <ul>    
                <img id="iconFerme" (click)="openMenu()" src="./../../assets/croixDelete.png" alt="">

                <div class="card_user" >
                    <img src="./../../assets/1077114.png" alt="">
                    <p>
                        <span> {{ currentUser.nom }} </span>
                        <span> {{currentUser.prenom}} </span>
                    </p>
    
                </div>
    
                <li (click)="selected(0)"   [ngClass]="{'selctIn': selecterMobile === 0}"    >  {{ 'viewUser.btnpresect' | translate }} </li>            
                <li (click)="selected(1)"  [ngClass]="{'selctIn': selecterMobile === 1}"    > {{ 'dashboard.btnvideosNV' | translate }}  </li>
                <li (click)="selected(2)"  [ngClass]="{'selctIn': selecterMobile === 2}"    > {{ 'dashboard.btnvideosV' | translate }}  </li>
                <li (click)="selected(3)"  [ngClass]="{'selctIn': selecterMobile === 3}"    > {{ 'dashboard.btnvideosR' | translate }}  </li>
                <li (click)="logOut()"  >{{ 'dashboard.btnDeconexion' | translate }}</li>
    
            </ul>



           </div>


           <!-- fin  -->



           <div class="card_rest">
           

            <div class="groupe_preselect" *ngIf="selecter==0">
                
                <div *ngIf="list_users.length > 0">

                    
                    <div class="cardHead_Preselect">

                        <div class="group_header1" >
    
                            <input type="text" (click)="applyFilter($event)" >
    
                            <div>
                                <img  *ngIf="!isFiltre"  (click)="getFiltre()" src="./../../assets/fitreSimple.png" alt="">
                                <img  *ngIf="isFiltre"   (click)="getFiltre()" src="./../../assets/filtreactive.png" alt="">
                            </div>
    
                        </div>
    
                        <div *ngIf="isFiltre">

                          <div class="group_header2" >
                         
                            <span  class="FiltreIn" (click)="getFiltreByValue(1)"  [ngClass]="{'theFiltre': filter === 1}"> {{ 'dashboard.parrains' | translate }} </span>
                            <span  class="FiltreIn" (click)="getFiltreByValue(2)"  [ngClass]="{'theFiltre': filter === 2}"> {{ 'viewUser.metier' | translate }} </span>
                            <span  class="FiltreIn" (click)="getFiltreByValue(3)"  [ngClass]="{'theFiltre': filter === 3}"> {{ 'viewUser.NEtude' | translate }} </span>
                          
                         </div>
 
                         <input  *ngIf="searchFiltre" class="SeachFiltre" type="text"  (input)="applyFilterByNumber($event)">                      

                        </div>
    
    
                       
                    </div>
    
                                      
                                         
                            <div class="content">
                               
                    
                              <table mat-table [dataSource]="list_users" class="mat-elevation-z8">
                                <ng-container matColumnDef="nom">
                                  <th mat-header-cell *matHeaderCellDef> {{ 'singnup.placeholderNom' | translate }}</th>
                                  <td mat-cell *matCellDef="let fichier">{{fichier.nom}}</td>
                                </ng-container>
                    
                                <ng-container matColumnDef="prenom">
                                  <th mat-header-cell *matHeaderCellDef>{{ 'singnup.placeholderPrenom' | translate }} </th>
                                  <td mat-cell *matCellDef="let fichier">{{fichier.prenom}}</td>
                                </ng-container>
                    
                                <ng-container matColumnDef="telephone">
                                  <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.telephone' | translate }}</th>
                                  <td mat-cell *matCellDef="let fichier">{{fichier.telephone.code }}  {{fichier.telephone.numero }}</td>
                                </ng-container>

                                
                                <ng-container matColumnDef="Netude">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'viewUser.NEtude' | translate }} </th>
                                    <td mat-cell *matCellDef="let fichier">{{fichier.NEtude }}  </td>
                                  </ng-container>

                                  <ng-container matColumnDef="nationalite">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.nationalite' | translate }}</th>
                                    <td mat-cell *matCellDef="let fichier">{{fichier.nationalite }}  </td>
                                  </ng-container>


                                  <ng-container matColumnDef="qualiProfession">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'viewUser.qprofessionnelle' | translate }}</th>
                                    <td mat-cell *matCellDef="let fichier">{{fichier.qualiProfession }}  </td>
                                  </ng-container>

                                  <ng-container matColumnDef="principalProfession">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'viewUser.pprofession' | translate }}</th>
                                    <td mat-cell *matCellDef="let fichier">{{fichier.principalProfession }}  </td>
                                  </ng-container>
                                  <ng-container matColumnDef="sMatrimoniale">
                                    <th mat-header-cell *matHeaderCellDef> {{ 'viewUser.matrimonial' | translate }}</th>
                                    <td mat-cell *matCellDef="let fichier">
                                      <span *ngIf="fichier.nbrEnfants == 0"> {{ 'viewUser.matrimonialSans' | translate }} </span>
                                      <span *ngIf="fichier.nbrEnfants > 0">  {{ 'viewUser.matrimonialAvec' | translate }} {{fichier.nbrEnfants}}  {{ 'viewUser.matrimonialEnfant' | translate }} </span>
                                    </td>
                                  </ng-container>
  
                                    <ng-container matColumnDef="langueParler">
                                      <th mat-header-cell *matHeaderCellDef> {{ 'viewUser.lparlee' | translate }}</th>
                                      <td mat-cell *matCellDef="let fichier">{{fichier.langueParler }}  </td>
                                    </ng-container>
                              
                                <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.action' | translate }}</th>
                                  <td mat-cell *matCellDef="let fichier">
                                    <button mat-icon-button (click)="beginValid(fichier.uid)">
                                      <img src="./../../assets/valider.png" alt="" >
                                      </button>
                    
                                    <button mat-icon-button (click)="goToviewUser(fichier.uid)" >
                                        <img src="./../../assets/voirPlus.jpg"   alt="" >
                                    </button>


                                    <div class="contentSelectVideo" *ngIf="theId === fichier.uid">

                                      <div class="group">
                                        <img class="imgdelect" (click)="close_validBySelect()" src="./../../assets/croixDelete.png" alt=""> 

                                          <div  *ngIf=" liste_videosByUser.length > 0 ">
                            
                                            <div class="cardVideos" >
                            
                                                <div class="oneVideo" *ngFor="let item of liste_videosByUser" >  
                                                    <video controls>
                                                        <source [src]="item.fileVideo" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                      </video>
                                                      <h1> {{item.secteur}} </h1>
                                                      <span>
                                                          {{ item.nom }}  {{ item.prenoms }}
                                                      </span>
                          
                                                      <button class="btn1"  (click)="valiProcessusBydVideo(item.id, item.user_id)"> {{ 'viewUser.valide' | translate }} </button>
                                                      <button class="btn3"  (click)="beginReject(item.id)"> {{ 'viewUser.observe' | translate }} </button>
                          
                                                </div>
                          
                                                <div class="viewVaidPreselct"   *ngIf="isReject">
                          
                                                       
                                                  <img class="imgdelect" (click)="close_valid()" src="./../../assets/croixDelete.png" alt="">
                          
                                                <textarea  [(ngModel)]="theObservation" placeholder="Métier" rows="10" cols="10" ></textarea>
                          
                                                <button  class="btn2" (click)="setReject(theObservation, idOfItem)" > {{ 'viewUser.reject' | translate }} </button>
                          
                                              </div>
                            
                            
                                            </div>
                                          </div>
                            
                            
                                            
                                            <div class="notvalide" *ngIf=" liste_videosByUser.length == 0 ">
                                                <p>
                                                  {{ 'dashboard.textAnyV' | translate }} 
                                                </p>
                                
                                            </div>               
                                           
                                       
                          
                        

                                      </div>

                                    </div>
                                   
                                  </td>
                                </ng-container>
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                               
                        </table>  


                            
                        
    
                    </div>

                </div>


    
                <div class="notvalide" *ngIf="list_users.length == 0">
                    <p>
                      {{ 'dashboard.aucunUser' | translate }} 
                    </p>
    
                </div>               
            
            </div>

            <div class="" *ngIf="selecter==1">  

                <div  *ngIf=" liste_videos.length > 0 ">
  
                  <div class="cardVideos" >
  
                      <div class="oneVideo" *ngFor="let item of liste_videos" >  
                          <video controls>
                              <source [src]="item.fileVideo" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                            <h1> {{item.secteur}} </h1>
                            <span>
                                {{ item.nom }}  {{ item.prenoms }}
                            </span>

                            <button class="btn1"  (click)="valiProcessusBydVideo(item.id, item.user_id)">   {{ 'viewUser.valide' | translate }} </button>
                            <button class="btn3"  (click)="beginReject(item.id)">   {{ 'viewUser.observe' | translate }} </button>

                      </div>

                      <div class="viewVaidPreselct"   *ngIf="isReject"  >

                             
                        <img class="imgdelect" (click)="close_valid()" src="./../../assets/croixDelete.png" alt="">

                      <textarea  [(ngModel)]="theObservation" placeholder="Objection" rows="10" cols="10" ></textarea>

                      <button  class="btn2" (click)="setReject(theObservation, idOfItem)" >  {{ 'viewUser.reject' | translate }} </button>

                    </div>
  
  
                  </div>
                </div>
  
  
                  
                  <div class="notvalide" *ngIf=" liste_videos.length == 0 ">
                      <p>
                        {{ 'viewUser.aucunV' | translate }} 
                      </p>
      
                  </div>               
                 
              </div>


              
            <div class="" *ngIf="selecter==2">  

              <div  *ngIf=" liste_videosValid.length > 0 ">
                

                <div class="cardVideos" >

                    <div class="oneVideo" *ngFor="let item of liste_videosValid" >

                        <video controls>
                            <source [src]="item.fileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                          <h1> {{item.secteur}} </h1>
                          <span>
                              {{ item.nom }}  {{ item.prenoms }}
                          </span>
                         
                    </div>


                </div>
              </div>


                
                <div class="notvalide" *ngIf=" liste_videosValid.length == 0 ">
                    <p>
                      {{ 'dashboard.textAny' | translate }}   
                    </p>
    
                </div>               
               
            </div>

            <div class="" *ngIf="selecter==3">  

              <div  *ngIf=" liste_videosReject.length > 0 ">

                <div class="cardVideos" >

                    <div class="oneVideo" *ngFor="let item of liste_videosReject" >

                        <video controls>
                            <source [src]="item.fileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>
                          <h1> {{item.secteur}} </h1>
                       <span>
                           {{ item.nom }}  {{ item.prenoms }}
                       </span>
                         

                    </div>


                </div>
              </div>


                
                <div class="notvalide" *ngIf=" liste_videosReject.length == 0 ">
                    <p>
                      {{ 'dashboard.textAnyR' | translate }} 
                    </p>
    
                </div>               
               
            </div>

              

        </div>

</div>