
.card_dash
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    height: 100%;
}

.nav_dash
{
   background-color: #F0F0F2;
   box-shadow: 5px 5px 2px #F0F0F2;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   text-align: center;
   margin-right: 2%;
   position: fixed;
   height: 100%;
   width: 200px;
   display: block;
   z-index: 1;
   
}

.nav_dash > ul {
    position: relative;
    height: 100%;
    padding-left: 0px;

}

.nav_dash > ul > li 
{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}
.card_user {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card_user > img
{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: 5%;
}

.card_user > p 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.selctIn, .filtreIn
{
    color: white;
    background-color: #45d00f;
}

.card_rest
{
    width: 80%;
    margin-top: 16px;
    margin-left: 210px;
}

.notvalide
{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-left: 20%;
    padding-top: 20%;

}

.notvalide > p 
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-right: 30%;
    margin-bottom: 50px;
}

.notvalide > button

{
    width: 125px;
    height: 33px;
    text-align: center;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 30px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-bottom: 30px;
margin-left: 30%;
}

.seePresect
 {
       display: flex;
       flex-direction: column;
       width: 100%;
    //    margin-left: 4%;
       margin-bottom: 30px;
}

.cardHead
{
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 300px );
   
    padding-left: 250px;
    margin-bottom: 30px;

}


.cardStatut{
    display: flex;
    flex-direction: column;
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-right: 10px;
   
    
}

.statutSimple
{
    background: rgba(128, 128, 128, 0.5);
    width: 45%;
    color: black;
    padding: 10px;
    margin-left: 10px;
}

.colorSelect
{
    background: rgba(144, 238, 144, 0.5);
    width: 45%;
    color: rgba(85, 107, 47, 1);
}

.colorNoSelect 
{
    background: rgba(255, 0, 0, 0.5);
    width: 45%;
    color: rgba(255, 0, 0, 1);
}

.colorAny 
{
    background: rgba(211, 211, 211, 0.5);
    width: 45%;
    color: rgba(0, 0, 0, 1);
}

.cardHead > h1 {

    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;

}

.statut
{
   margin-bottom: 20px;
}

.cardHead > img
{
   width: 30px;
   height: 30px;
   cursor: pointer;
   margin-top: 10px;
}

.contentViewPreselect, .contentViewSelect
{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);
    padding-left: 200px;
}

.groupViewPreselect
{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 10px;

}

.groupViewPreselect > p
{
   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}

.groupViewPreselect >  .viewValue

{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;
 

}

.cardParents
{
    display: flex;
    flex-direction: column;
}

.cardParents > h2, .cardExperience > h2

{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    // padding-left: 10px;
    text-align: center;
}

.cardExperience
{
    display: flex;
    flex-direction: column;
}

thead {
    background-color: #f4f4f4;
    border: none;
}
thead tr 
{
    padding: 12px 15px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;

}

tbody tr
{
  background-color: #fff;
  transition: background-color 0.3s ease;
}

tbody tr:hover
{
    background-color: #f9f9f9;
}

tbody td 
{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.action 
{
    display: flex;
    gap: 10px;
}

.action i 
{
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.action i:hover
{
    color: #007bff;
}

.cardHeadMobile
{
    display: none;
}

.cardVideos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.oneVideo {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 100px;

}

.oneVideo > img 
{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    
}


.oneVideo > video 
{
    width: 100%;
    height: 100%;
}

.legooglechart
{
    width: 90%;
    height: auto;
    z-index: 5;
    margin-left: 16%;
}
.navBarMobile
{
    display: none;
}

.groupe_preselect
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardHead_Preselect {
    display: flex;
    flex-direction: column;
}

.valPreselect 
{
    width: 60px;
    height: 33px;
    text-align: center;
    color:  #45d00f;
    background: white ;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 10px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-bottom: 30px;
}


#boutton1
{    width: 150px;
    height: 33px;
    margin-left: 42%;
    margin-top: 20px;
    text-align: center;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 30px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-bottom: 30px;
   
}

.cardHead_Preselect
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.theFiltre
{
    border: solid 1px #45d00f;
    color: #45d00f;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    background: white;
    margin-bottom: 20px;
    
}

.group_header11
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 30px;
}


.group_header11 > input 
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    margin-right: 40px;
}

.group_header11 > div > img
{
    width: 40px;
    height: 40px;

}



.group_header2
{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.group_header1 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 35%;
    margin-bottom: 30px;
}

.group_header1 > input 
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    margin-right: 40px;
}

.group_header1 > div > img
{
    width: 40px;
    height: 40px;

}

.corpsPpreselct
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardCorps 
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Scard
{
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}

.Scard1 
{
    padding: 10px;
    text-align: center;
    background: gainsboro;
    margin-top: 5px;

}

.viewVaidPreselct
{
    position: absolute;
    top: 40px;
    width: 75%;
    padding: 20px;
    left: 210px;
    display: flex;
    flex-direction: column;
    background: white;
    border: solid 1px #45d00f;
}

.imgdelect
{
    position: absolute;
    top: 5px;
    right: 10px;
    background: white;
    width: 20px;
    height: 20px;
}

.viewVaidPreselct > div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.viewVaidPreselct > div > img
{
    width: 40%;
    height: 250px;
    
}


.cardVideos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.oneVideo {
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: 20px;

}

.oneVideo > img 
{
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    
}


.oneVideo > video 
{
    width: 100%;
    height: 100%;
}

.legooglechart
{
    width: 90%;
    height: auto;
    z-index: 5;
    margin-left: 16%;
}

.dashboard-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .spacer {
    flex: 1 1 auto;
  }



  .content {
    padding: 20px;
  }

  .actions {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
  }

  .zus
  {
    width: 20px;
    height: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.1); 
    border: none;
     
  }

  .btn-ajout
  {
    width: 200px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;

  }

  .btn1 {

    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
margin-bottom: 10px;

  }

  .btn3
  {
    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  #45d00f;
    background: white;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;

  }

  .btn2 
  {
    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  white;
    background: red;
   border: 1px solid red;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
margin-top: 10px;
  }

  .rejectV
  {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 75%;
    padding: 20px;
    left: 210px;
    background: white;
    border: solid 1px #45d00f;
    z-index: 2;
  }
  .imgdelect
{
    position: absolute;
    top: 5px;
    right: 10px;
    background: white;
    width: 20px;
    height: 20px;
}

textarea::placeholder
{
    padding-left: 10px;
    padding-top: 10px;
}

textarea 
{
    margin-top: 23px;

}





@media (max-width: 1000px ) {

    .legooglechart
    {
        margin-left: 0%;
    }

    .navBarMobile
    {
        display: none;
    }

    .cardStatut
    {
        width: 40%;
    }

    .card_rest {
        width: 94%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 0px;
    
       }
    
       .content
       {
        overflow-x: auto;
        width: 100%;
        white-space: nowrap;
       }
    
       .group_header11 > div > img{
         margin-right: 10px;
       }
      

    
    .cardHeadMobile
    {
        display: none;
    }



}

@media (max-width: 500px ) {

    .notvalide
    {
        padding-left: 0%;
    
    }

    .cardHead {
        display: none;
    }

    .nav_dash {
        display: none;
    }

    .seePresect
    {
        width: 100%;
    }

    .group_header1
    {
     width: 100%;
     margin-left: 0%;
    }

 

  .cardHeadMobile
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  
  }

  .groupe1Mobile
  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }

  .groupe1Mobile > img 
  {
    width: 50px;
    height: 50px;
    cursor: pointer;

  }

   .groupe1Mobile > h1 
   {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    margin-top: 13px;
   }

   .card_rest {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
   }

   .contentViewPreselect, .contentViewSelect
   {
    width: 100%;
    padding-left: 0px;
    
   }

   .groupViewPreselect{
   
    margin-left: 0%;

}  

.navBarMobile
{
    background-color: #F0F0F2;
    box-shadow: 5px 5px 2px #F0F0F2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: 0px;
    height: auto;
    width: 100%;
    display: block;
    margin-left: -3%;
    z-index: 2;
}

.navBarMobile > ul {
    position: relative;
    height: 100%;
    padding-left: 0px;
    z-index: 2;

}

.navBarMobile > ul > li 
{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

#iconFerme
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 15px;
}

.card_dash {
    display: flex;
    flex-direction: column;
}
}