

.card_user {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card_user > img
{
    width: 80px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: 5%;
}

.card_user > p 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contentViewPreselect
{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 220px);
    padding-left: 100px;
    padding-right: 100px;
}

.groupViewPreselect
{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 10px;

}

.groupViewPreselect > p
{
   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}

.groupViewPreselect >  .viewValue

{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-left: 10px;

}


.cardParents
{
    display: flex;
    flex-direction: column;
}

.cardParents > h2, .cardExperience > h2
{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    // padding-left: 10px;
    text-align: center;
}

.cardExperience
{
    display: flex;
    flex-direction: column;
}

table 
{
    border-collapse: collapse;
    margin-left: 5%;
    margin-bottom: 10px;
    width:90%;

}

tr, td, th
{
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.boutton
{
    width: 150px;
    height: 33px;
    text-align: center;
    border-radius: 500px;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 30px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-bottom: 30px;
   
}

.botton_bas
{
    width: 100px;
     height: 33px;
    text-align: center;
    color:  #45d00f;
    font-family: 'Inter';
    background: white;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
text-decoration: none;
cursor: pointer;
border: 1px solid #45d00f;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 30px;

}  

.groupViewFils
{
    display: flex;
    flex-direction: column;

}

.groupViewFils > h1
{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    // padding-left: 10px;
    text-align: center;

}

.groupViewImages
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.groupViewImages > img 
{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.corpsSelectV
{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.viewVaidPreselctV
{
   
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border: solid 1px #45d00f;
    z-index: 2;
}

.imgdelectV
{
    background: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 90%;
    margin-bottom: 19px;
}
select 
{
    width: 93%;
    margin-bottom: 30px;
    height: 52px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-left: 9px;
}

select > option 
{
    width: 93%;

}


.contentSelectVideo
{
    position: fixed; /* Fixe l'élément par rapport à la fenêtre */
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour être parfaitement centré */
    width: 70%;
    z-index: 1000; /* S'assure qu'il est au-dessus des autres éléments */
    background-color: #FFFFFF;
    border: solid 1px #45d00f;
    padding: 20px;
    margin-left: 100px;
    padding-bottom: 49px;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.group
{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //  position: absolute;
    //  top: 30px;
     padding: 20px;
    //  border: solid 1px #45d00f;
}

.group > .imgdelectV
{
    background: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 153px;
    margin-bottom: 19px;

}

.btn1 {

    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  white;
    background: #45d00f;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
margin-bottom: 10px;

  }

  .btn3
  {
    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  #45d00f;
    background: white;
   border: 1px solid #45d00f;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;

  }

  .btn2 
  {
    width: 100px;
    height: 33px;
    text-align: center;
    border-radius: 50px;
    color:  white;
    background: red;
   border: 1px solid red;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
margin-top: 10px;
  }

  .groupePdf
  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .idpdf
  {
    width: 70px;
    height: 70px;
  }

  .iddown
  {
    width: 50px;
    height: 50px;
    margin-top: 4px;

  }



  .rejectV
  {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 75%;
    padding: 20px;
    left: 210px;
    background: white;
    border: solid 1px #45d00f;
    z-index: 2;
  }

@media (max-width: 1000px ) {

    .contentViewPreselect {
        width: calc(100vw - 80px);
        padding-top: 20px;
        padding-bottom: 20px;
     
    }

    .content_viewUser {
        width: min-content;
    }

}

@media (max-width: 500px ) {
    .content_viewUser {
        width: min-content;
    }


    .contentViewPreselect {
        width: calc(100vw - 30px);
        padding-top: 10px;
        padding-bottom: 10px;
     
    }

    .boutton
    {
        width: 90px;
    }

    .botton_bas {
        width: 90px;
    }

}