<div class="content_viewUser">

    <div class="card_user" >
        <img *ngIf="currentUser.fil_photo != '' "  [src]="currentUser.fil_photo" alt="">
        <img *ngIf="currentUser.fil_photo === '' " src="./../../assets/1077114.png" alt="">
        <p>
            <span> {{ currentUser.nom }} </span>
            <span> {{currentUser.prenom}} </span>
        </p>

    </div>

    
    <div class="contentViewPreselect" >

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.age' | translate }} </p>
            <span class="viewValue"> {{ currentUser.age }} {{ 'viewUser.ageIndice' | translate }}    </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.matrimonial' | translate }} </p>
            <span class="viewValue"> {{ currentUser.sMatrimoniale }} 
                <span *ngIf="currentUser.nbrEnfants == 0" > {{ 'viewUser.matrimonialSans' | translate }}  </span>
                <span *ngIf="currentUser.nbrEnfants != 0" >{{ 'viewUser.matrimonial' | translate }}  {{currentUser.nbrEnfants}} </span>
            </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.NEtude' | translate }} </p>
            <span class="viewValue"> {{ currentUser.NEtude }}  </span>

        </div>

         <div class="groupViewPreselect">

            <p> {{ 'viewUser.NEtude' | translate }}  </p>
            <span class="viewValue"> {{ currentUser.metier }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.aDiplome' | translate }} </p>
            <span class="viewValue"> {{ currentUser.aDiplome }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.dapprentis' | translate }}  </p>
            <span class="viewValue"> {{ currentUser.dApprentissage }} {{ 'viewUser.ageIndice' | translate }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.aprof' | translate }}</p>
            <span class="viewValue"> {{ currentUser.aExperience }} {{ 'viewUser.ageIndice' | translate }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.eprecedent' | translate }} </p>
            <span class="viewValue"> {{ currentUser.ePrecedent }} </span>

        </div>

        <div class="groupViewPreselect">

            <p>{{ 'viewUser.PPdispo' | translate }}  </p>
            <span class="viewValue"> {{ viewPasseportDisponible}}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.nationalite' | translate }} </p>
            <span class="viewValue"> {{ currentUser.nationalite }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p>{{ 'viewUser.cwhatsapp' | translate }}</p>
            <span class="viewValue"> {{ currentUser.cWhatapp.code }}  {{currentUser.cWhatapp.numero }} </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.parrain' | translate }}</p>
            <span class="viewValue"> {{ currentUser.parrain  }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.religion' | translate }} </p>
            <span class="viewValue"> {{ currentUser.religion }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.libre' | translate }} </p>
            <span class="viewValue"> {{ viewDisponibilite }}  </span>

        </div>


        <div class="groupViewPreselect">

            <p> {{ 'viewUser.lNaissance' | translate }} </p>
            <span class="viewValue"> {{ currentUser.LieuNaissance }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.dNaissance' | translate }}  </p>
            <span class="viewValue"> {{ currentUser.dateNaissance.toLocaleString() }}  </span>

        </div>

        <div class="cardParents">

            <h2> {{ 'viewUser.pere' | translate }} </h2>

            <div class="groupViewPreselect">

                <p> {{ 'singnup.placeholderNom' | translate }} </p>
                <span class="viewValue"> {{ currentUser.Pere.nom }}  </span>

            </div>

            <div class="groupViewPreselect">

                <p> {{ 'singnup.placeholderPrenom' | translate }}</p>
                <span class="viewValue"> {{ currentUser.Pere.prenoms }}  </span>

            </div>

        </div>

        <div class="cardParents">

            <h2> {{ 'viewUser.mere' | translate }} </h2>

            <div class="groupViewPreselect">

                <p>{{ 'singnup.placeholderNom' | translate }}  </p>
                <span class="viewValue"> {{ currentUser.Mere.nom }}  </span>

            </div>

            <div class="groupViewPreselect">

                <p> {{ 'singnup.placeholderPrenom' | translate }} </p>
                <span class="viewValue"> {{ currentUser.Mere.prenoms }}  </span>

            </div>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.numpasseport' | translate }} </p>
            <span class="viewValue"> {{ currentUser.nPasseport }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.lemission' | translate }} </p>
            <span class="viewValue"> {{ currentUser.lieuPasseport }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.demission' | translate }} </p>
            <span class="viewValue"> {{ currentUser.dateEmiPasseport.toLocaleString() }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.dexpiration' | translate }} </p>
            <span class="viewValue"> {{ currentUser.dateExpPasseport.toLocaleString() }}  </span>

        </div>


        <div class="cardParents">

            <h2> {{ 'viewUser.dresidence' | translate }}</h2>

            <div class="groupViewPreselect">

                <p>{{ 'viewUser.pays' | translate }} </p>
                <span class="viewValue"> {{ currentUser.derniereResidencePays }}  </span>

            </div>

            <div class="groupViewPreselect">

                <p>{{ 'viewUser.ville' | translate }} </p>
                <span class="viewValue"> {{ currentUser.derniereResidence }}  </span>

            </div>

            <div class="groupViewPreselect">

                <p>{{ 'viewUser.quartier' | translate }} </p>
                <span class="viewValue"> {{ currentUser.derniereResidenceVillage }}  </span>

            </div>

        </div>


        <div class="groupViewPreselect">

            <p> {{ 'viewUser.qprofessionnelle' | translate }} </p>
            <span class="viewValue"> {{ currentUser.qualiProfession }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.pprofession' | translate }} </p>
            <span class="viewValue"> {{ currentUser.principalProfession }}  </span>

        </div>

        <div class="cardExperience">     
            
            <h2>{{ 'viewUser.exprofessionnelle' | translate }} </h2>
            
            
        <table>

            <thead>
                <tr>
                    <th>{{ 'viewUser.num' | translate }} </th>
                    <th> {{ 'viewUser.entreprise' | translate }}</th>
                    <th> {{ 'viewUser.ddebut' | translate }} </th>
                    <th> {{ 'viewUser.dfin' | translate }}  </th>
                </tr>

            </thead>

            <tbody>

                <tr  *ngFor="let item of currentUser.expProfesionnel; let i = index ">
                    <td> {{i+1}} </td>
                    <td> {{item.entreprise}} </td>
                    <td>  {{item.dateDebut.toLocaleString()}} </td>
                    <td>  {{item.datefin.toLocaleString()}} </td>

                </tr>

            </tbody>

        </table>
        
        </div>


<!-- 
        <div class="groupViewPreselect">

            <p> Profession Principale:</p>
            <span class="viewValue"> {{ currentUser.principalProfession }}  </span>

        </div> -->

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.lparlee' | translate }}   </p>
            <span class="viewValue"> {{ currentUser.langueParler }}  </span>

        </div>

        <div class="groupViewPreselect">

            <p> {{ 'viewUser.dhonneur' | translate }}  </p>
            <span class="viewValue"> {{ viewHonneur }}  </span>

        </div>

        <div class="groupViewFils">

            <h1> {{ 'viewUser.rfils' | translate }}  </h1>

            <div class="groupViewImages"  >

                <img [src]="item" alt="" *ngFor="let item of currentUser.fils_recus " >

            </div>

        </div>

        <div class="groupViewFils">

            <h1> {{ 'viewUser.dfils' | translate }} </h1>

            <div class="groupViewImages"  >

                <img [src]="item" alt="" *ngFor="let item of currentUser.fils_diplome " >

            </div>

        </div>

        
        <div class="groupViewFils">

            <h1> {{ 'viewUser.pfils' | translate }} </h1>

            <div class="groupViewImages"  >

                <img [src]="currentUser.fil_photo " alt=""  >

            </div>

        </div>


                
        <div class="groupViewFils">

            <h1> {{ 'viewUser.pcfils' | translate }} </h1>

            <div class="groupViewImages"  >

                <img [src]="currentUser.fil_casierJudiciere " alt=""  >

            </div>

        </div>

        <div class="groupViewFils">

            <h1> {{ 'viewUser.ppfils' | translate }} </h1>

            <div class="groupViewImages"  >

                <img [src]="currentUser.fil_passportPhoto " alt=""  >

            </div>

        </div>



        <div class="contentSelectVideo" *ngIf="theIdAdmin === currentUser.uid">
    
            <div class="group"   >
                <img class="imgdelect" (click)="close_valid()" src="./../../assets/croixDelete.png" alt="">

                <div >  

                  <select [(ngModel)]="selectedPartner">
                    <option [ngValue]="null"> {{ 'viewUser.choixpart' | translate }}  </option>
                    <option *ngFor="let item of listePartemaire" [ngValue]="item">  {{item.prenom}} </option>
    
                   </select>
                </div>

                <button id="boutton1"  (click)="validSelct(currentUser.uid, selectedPartner)" > {{ 'viewUser.rfils' | translate }}valider</button>
                
            </div>

        
    </div>


    <!-- partenaire -->

    <div class="contentSelectVideo" *ngIf="theId === currentUser.uid">

        <div class="group">
          <img class="imgdelect" (click)="close_validBySelect()" src="./../../assets/croixDelete.png" alt=""> 

            <div  *ngIf=" liste_videosByUser.length > 0 ">

              <div class="cardVideos" >

                  <div class="oneVideo" *ngFor="let item of liste_videosByUser" >  
                      <video controls>
                          <source [src]="item.fileVideo" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        <h1> {{item.secteur}} </h1>
                        <span>
                            {{ item.nom }}  {{ item.prenoms }}
                        </span>

                        <button class="btn1"  (click)="valiProcessusBydVideo(item.id, item.user_id)">{{ 'viewUser.valide' | translate }} </button>
                        <button class="btn3"  (click)="beginReject(item.id)"> {{ 'viewUser.observe' | translate }} </button>

                  </div>

                  <div class="viewVaidPreselct"   *ngIf="isReject"  >

                         
                    <img class="imgdelect" (click)="close_valid()" src="./../../assets/croixDelete.png" alt="">

                  <textarea  [(ngModel)]="theObservation" placeholder="Métier" rows="10" cols="10" ></textarea>

                  <button  class="btn2" (click)="setReject(theObservation, idOfItem)" >{{ 'viewUser.reject' | translate }} </button>

                </div>



              </div>
            </div>


              
              <div class="notvalide" *ngIf=" liste_videosByUser.length == 0 ">
                  <p>
                    {{ 'viewUser.aucunV' | translate }}  
                  </p>
  
              </div>               
            

        </div>

      </div>



        


        <div class="groupViewPreselect" *ngIf="theUser.nom === 'admin'" >
            <button  class="botton_bas"   (click)="goBack()"> {{ 'viewUser.btnRetour' | translate }} </button> 
            <button  class="boutton" *ngIf="currentUser.isvalidePreselect === false"  (click)="validPreselect(currentUser.uid)">{{ 'viewUser.btnpreselect' | translate }} </button> 
            <button  class="boutton" *ngIf="currentUser.isvalidSelect === false"   (click)="beginCValidSelectByPartenaire(currentUser.uid)"> {{ 'viewUser.btnsect' | translate }} </button> 

        </div>

        <div class="groupViewPreselect" *ngIf="theUser.nom === 'partenaire'">        
        <button  class="botton_bas"   (click)="goBack()"> {{ 'viewUser.btnRetour' | translate }} </button> 
        <button  class="boutton"   (click)="beginValid(currentUser.uid)"> {{ 'viewUser.valide' | translate }} </button> 

        </div>

    </div>



</div>