<div class="content_pre">

    <div class="card-in" *ngIf="!switch" >

        <h1>{{ 'viewUser.btnpresect' | translate }} </h1>

        
  <p class="petit_texte"> {{ 'edit.textPreselect' | translate }} </p>
        

        <div class="inputs"  [formGroup]="editPreselectform" >
            <label for=""> {{ 'viewUser.age' | translate }} </label>
            <input  type="number"  [ngClass]="{'error': editPreselectform.controls['age'].invalid || editPreselectform.controls['age'].value>120}"  formControlName="age" placeholder="Age" >
          
            <label for="">  {{ 'viewUser.matrimonial' | translate }} </label>
            <select   [ngClass]="{'error': editPreselectform.controls['sMatrimoniale'].invalid && editPreselectform.controls['sMatrimoniale'].value!='Situation Matrimoniale'}"  formControlName="sMatrimoniale" >
               
                <option value=""> {{currentUser.sMatrimoniale}} </option>

                <option *ngFor="let item of listMatrimonial" [value]="item">  {{item}} </option>

               </select>

               <label for="">  {{ 'viewUser.NEtude' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['NEtude'].invalid && editPreselectform.controls['NEtude'].value!=''}"  formControlName="NEtude" placeholder="Niveau d'étude" >
           
            <label for=""> {{ 'viewUser.metier' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['metier'].invalid && editPreselectform.controls['metier'].value!=''}"  formControlName="metier" placeholder="Métier" >
          
            <label for=""> {{ 'viewUser.aDiplome' | translate }} </label>
            <input  type="number"  [ngClass]="{'error': editPreselectform.controls['aDiplome'].invalid || editPreselectform.controls['aDiplome'].value>=2026}"  formControlName="aDiplome" placeholder="Année de Diplôme" >
          
            <label for=""> {{ 'viewUser.dapprentis' | translate }} </label>
            <input  type="number"  [ngClass]="{'error': editPreselectform.controls['dApprentissage'].invalid || editPreselectform.controls['dApprentissage'].value>=60}"  formControlName="dApprentissage" placeholder="Durée d'apprentissage" >
          
            
            <label for=""> {{ 'viewUser.aprof' | translate }} </label>
            <input  type="number"  [ngClass]="{'error': editPreselectform.controls['aExperience'].invalid || editPreselectform.controls['aExperience'].value>=50}"  formControlName="aExperience" placeholder="Année d'experience" >
          
            <label for=""> {{ 'viewUser.eprecedent' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['ePrecedent'].invalid && editPreselectform.controls['ePrecedent'].value!=''}"  formControlName="ePrecedent" placeholder="Employeur précédent" >
            
        
            <label for=""> {{ 'viewUser.nationalite' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['nationalite'].invalid && editPreselectform.controls['nationalite'].value!=''}"  formControlName="nationalite" placeholder="Nationalité" >
          
           
           


                <label for="">  {{ 'viewUser.parrain' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['parrain'].invalid && editPreselectform.controls['parrain'].value!=''}"  formControlName="parrain" placeholder="Parrein" >
           
            <label for=""> {{ 'viewUser.religion' | translate }} </label>
            <input  type="text"  [ngClass]="{'error': editPreselectform.controls['religion'].invalid && editPreselectform.controls['religion'].value!=''}"  formControlName="religion" placeholder="Région" >
           
          
 
        </div>

        <label for=""> {{ 'viewUser.cwhatsapp' | translate }} </label>
        <div class="groupe_number">

            <div class="groupe_prefixe">
                 
                <select  id='code_pays'   [(ngModel)]="pre"    >
               
                    <option value=""> {{ 'singnup.prefixe' | translate }} </option> 
                    <option *ngFor="let item of listPrefixe" [value]="item.prefix"> {{item.name}} ({{item.prefix}}) </option>
    
                   </select>
           
            </div>
              <input id= 'input_number' type="text"  [(ngModel)]="edite" placeholder="Numéro Whatsapp" >
              
    
            </div>

            <div  [formGroup]="editPreselectform" >
                <label for=""> {{ 'viewUser.religion' | translate }} </label>

                <select  [ngClass]="{'error': editPreselectform.controls['religion'].invalid && editPreselectform.controls['religion'].value!='votre réligion'}"  formControlName="religion" >
                    <option value=""> {{currentUser.religion}} </option>
                    <option *ngFor="let item of listReligion" [value]="item">  {{item}} </option>
    
                   </select>

                
            <div  class="lecheck">
               
                <input id="lecheck_input1" type="checkbox"  [ngClass]="{'checked': editPreselectform.controls['passport'].value}"  formControlName="passport" placeholder="Passeport" >
                {{ 'viewUser.PPdispo' | translate }}
              
               </div>

           <div  class="lecheck">
            <input id="lecheck_input" type="checkbox"  [ngClass]="{'error': editPreselectform.controls['ldtep2'].value!='', 'checked':  editPreselectform.controls['ldtep2'].value} "  formControlName="ldtep2">
            {{ 'viewUser.libre' | translate }}          
           </div>

           <div  class="lecheck">
            <input id="lecheck_input" type="checkbox"  [ngClass]="{'error': editPreselectform.controls['noFilRecu'].value!='', 'checked':  editPreselectform.controls['noFilRecu'].value} "  formControlName="noFilRecu">
            {{ 'edit.textRecus' | translate }}         
           </div>

           
           <button  class="boutton" [disabled]="editPreselectform.get('ldtep2')?.value === false "   (click)="suivantPreselect()"> Suivant </button> 
              

            </div>

            

</div>

</div>


<div  class="content_preImg" *ngIf="switch">
    <div class="inputs_suivant"  [formGroup]="editPreselectform"  >

          <h2>   {{ 'edit.textFilsRecus' | translate }}  </h2>


          <div class="card-inputFils" (click)="getfilsPreselect()">
              +
          </div>

         
            <mat-progress-bar id="laBarDownload33" mode="determinate" [value]="progressValue"  *ngIf="isUploading"></mat-progress-bar>

            <span (click)="getfilsPreselect()"> 
                <img src="./../../assets/download_icon.png " alt="">
            </span>

          <div  *ngIf="!ChoixImg">

            <ul *ngFor="let to of itemToEditImages " >
                <li  *ngFor="let url of to.previewUrl  , let i = index">
                
                  <img class="delect" (click)="delete(i) " src="./../../assets/croixDelete.png" alt="Delete">
                  <img class="imgCard" [src]="url" alt="Image" >
                </li>
              </ul>

          </div>
       

             
        
        <input  type="file" multiple #fileInput [ngClass]="{'error': editPreselectform.controls['fils_recus'].invalid && editPreselectform.controls['fils_recus'].value!=''}"  formControlName="fils_recus" placeholder="" (change)="onFilesSelectedPreselect($event)" >
           

  

           
            <div class="lesboutonSP">

                <button  class="boutton1"  (click)="suivantPreselect()">  {{ 'edit.btnPrecede' | translate }} </button> 
                <button  id="boutton1"  (click)="editPreselect()"> {{ 'coursAnglais.btnSoumettre' | translate }} Soumettre</button> 

            </div>



            <div  *ngIf="loading" class="loader">

                <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>
              
                <div class="groupError"  *ngIf="iserrorlog" >
                  <p class="smsError" >  {{message}} </p>
                  <button  (click)="closeError() " >ok</button>
                </div>
              
              </div>

          
          
    </div>


   



