<div class="card_dash">

    <div class="nav_dash">

        <ul>    

            <div class="card_user" >
                <img src="./../../assets/1077114.png" alt="">
                <p>
                    <span> {{ currentUser.nom }} </span>
                    <span> {{currentUser.prenom}} </span>
                </p>

            </div>

            <li (click)="selected(0)"  [ngClass]="{'selctIn': selecter == 0}"    > {{ 'viewUser.btnpresect' | translate }}</li>
            <li (click)="selected(1)"  [ngClass]="{'selctIn': selecter == 1}" > {{ 'viewUser.btnsect' | translate }}</li>
            <li (click)="selected(2)"  [ngClass]="{'selctIn': selecter == 2}" > {{ 'dashboard.Etatfinance' | translate }} </li>
            <li (click)="selected(3)"  [ngClass]="{'selctIn': selecter == 3}" > {{ 'dashboard.videoU' | translate }} </li>
            <li (click)="selected(4)"  [ngClass]="{'selctIn': selecter == 4}" > {{ 'dashboard.CoursCU' | translate }}</li>
            <li (click)="selected(5)"  [ngClass]="{'selctIn': selecter == 5}" > {{ 'dashboard.CoursAU' | translate }}</li>
            <li (click)="logOut()"  > {{ 'dashboard.btnDeconexion' | translate }}</li>

        </ul>

    </div>

           <!-- header mobile select -->

           <div  class="cardHeadMobile" >
            <div class="groupe1Mobile" >

                <img (click)="openMenu()" src="./../../assets/menuHamberger.png" alt="">

                <h1> {{ titleHeadMobile}} </h1>
                <img (click)="editMobile()" src="./../../assets/edit2.png" alt="">
            </div>


            <div class="groupe2Mobile" >

                <div class="statut">
                    <span> {{ 'dashboard.statut' | translate }}</span>
                    <span class="statutSimple" [ngClass]="{'colorSelect': colorValidPreselect }"> {{statutPreselect}} </span>
                </div>

                <div class="statut">
                    <span> {{ 'dashboard.statutF' | translate }} </span>
                    <span class="statutSimple" [ngClass]="{'colorSelect': colorValidSelect }"> {{statutFinance}}  </span>
                </div>

            </div>

           </div>


           <div class="navBarMobile" *ngIf="isOpenMenu" >

            <ul>    
                <img id="iconFerme" (click)="openMenu()" src="./../../assets/croixDelete.png" alt="">

                <div class="card_user" >
                    <img src="./../../assets/1077114.png" alt="">
                    <p>
                        <span> {{ currentUser.nom }} </span>
                        <span> {{currentUser.prenom}} </span>
                    </p>
    
                </div>
    
                <li (click)="selected(0)"   [ngClass]="{'selctIn': selecterMobile === 0}"    >{{ 'viewUser.btnpresect' | translate }}</li>
                <li (click)="selected(1)"   [ngClass]="{'selctIn': selecterMobile === 1}"   >{{ 'viewUser.btnsect' | translate }}</li>
                <li (click)="selected(2)"   [ngClass]="{'selctIn': selecterMobile === 2}"   > {{ 'dashboard.Etatfinance' | translate }}</li>
                <li (click)="selected(3)"  [ngClass]="{'selctIn': selecterMobile === 3}"    >{{ 'dashboard.videoU' | translate }}</li>
                <li (click)="selected(4)"  [ngClass]="{'selctIn': selecter == 4}" >{{ 'dashboard.CoursCU' | translate }} </li>
                <li (click)="selected(5)"  [ngClass]="{'selctIn': selecter == 5}" >{{ 'dashboard.CoursAU' | translate }} </li>
                <li (click)="logOut()"  >{{ 'dashboard.btnDeconexion' | translate }}</li>
    
            </ul>



           </div>


           <!-- fin  -->

    

    <div class="card_rest">

        <div class="" *ngIf="selecter==0"> 


            <div  class="seePresect"  *ngIf="isPreselect">

                <div class="cardHead"> 
                     <div class="cardStatut">
                        <div class="statut">
                            <span> {{ 'dashboard.statut' | translate }}</span>
                            <span class="statutSimple" [ngClass]="{'colorSelect': colorValidPreselect }"> {{statutPreselect}} </span>
                        </div>

                        <div class="statut">
                            <span> {{ 'dashboard.statutF' | translate }}</span>
                            <span class="statutSimple" [ngClass]="{'colorSelect': colorValidSelect }"> {{statutFinance}} </span>
                        </div>

                     </div>

                    <h1> {{ 'viewUser.btnpresect' | translate }} </h1>

                    <img (click)="editPreselect()" src="./../../assets/edit2.png" alt="">

                </div>

               

                <div class="contentViewPreselect" *ngIf="!isEditPreselect">

                    <div class="groupViewPreselect">

                        <p> {{ 'viewUser.age' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.age }} {{ 'viewUser.ageIndice' | translate }}   </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.matrimonial' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.sMatrimoniale }} 
                            <span *ngIf="currentUser.nbrEnfants == 0" > {{ 'viewUser.matrimonialSans' | translate }} </span>
                            <span *ngIf="currentUser.nbrEnfants != 0" > {{ 'viewUser.matrimonialAvec' | translate }}   {{currentUser.nbrEnfants}}  {{ 'viewUser.matrimonialEnfant' | translate }} </span>
                        </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.NEtude' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.NEtude }}  </span>

                    </div>

                     <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.metier' | translate }}: </p>
                        <span class="viewValue"> {{ currentUser.metier }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.aDiplome' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.aDiplome }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.dapprentis' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.dApprentissage }}  {{ 'viewUser.ageIndice' | translate }} </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.aprof' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.aExperience }}   {{ 'viewUser.ageIndice' | translate }} </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.eprecedent' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.ePrecedent }} </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.PPdispo' | translate }} :</p>
                        <span class="viewValue"> {{ viewPasseportDisponible}}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.nationalite' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.nationalite }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>   {{ 'viewUser.cwhatsapp' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.cWhatapp.code }}  {{currentUser.cWhatapp.numero }} </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.parrain' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.parrain  }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.religion' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.religion }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'viewUser.matrimonialAvec' | translate }}:</p>
                        <span class="viewValue"> {{ viewDisponibilite }}  </span>

                    </div>

                    <div class="groupViewPreselect">

                        <p>  {{ 'dashboard.recuPre' | translate }}:</p>
                        <span class="viewValue"> {{ viewFilsRecu }}  </span>

                    </div>



                </div>

                

            </div>

            <div class="notvalide" *ngIf="!isPreselect">

                <p>
                    {{ 'dashboard.recuPre' | translate }}
                </p>

                <button (click)="goToPreinscription()"> {{ 'viewUser.btnpresect' | translate }}</button>

            </div>
            
             </div>

        <div class="" *ngIf="selecter==1"> 

            <div  *ngIf="isSelect">



                <div class="cardHead"> 
                    <div class="cardStatut">
                       <div class="statut">
                           <span> {{ 'dashboard.statut' | translate }} </span>
                           <span class="statutSimple" [ngClass]="{'colorSelect': colorValidPreselect }"> {{statutPreselect}} </span>
                       </div>

                       <div class="statut">
                           <span> {{ 'dashboard.statutF' | translate }} </span>
                           <span class="statutSimple" [ngClass]="{'colorSelect': colorValidSelect }"> {{statutFinance}} </span>
                       </div>

                    </div>

                   <h1> {{ 'viewUser.btnsect' | translate }}</h1>

                   <img (click)="editSelect()" src="./../../assets/edit2.png" alt="">

               </div>



               
               <div  *ngIf="!isEditSelect"  class="contentViewSelect">

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.lNaissance' | translate }} :</p>
                    <span class="viewValue"> {{ currentUser.LieuNaissance }}  </span>

                </div>

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.dNaissance' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.dateNaissance }}  </span>

                </div>

                <div class="cardParents">

                    <h2>{{ 'viewUser.pere' | translate }} </h2>

                    <div class="groupViewPreselect">

                        <p> {{ 'singnup.placeholderNom' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.Pere.nom }}  </span>
    
                    </div>

                    <div class="groupViewPreselect">

                        <p> {{ 'singnup.placeholderPrenom' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.Pere.prenoms }}  </span>
    
                    </div>

                </div>

                <div class="cardParents">

                    <h2> {{ 'viewUser.mere' | translate }}</h2>

                    <div class="groupViewPreselect">

                        <p> {{ 'singnup.placeholderNom' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.Mere.nom }}  </span>
    
                    </div>

                    <div class="groupViewPreselect">

                        <p>{{ 'singnup.placeholderPrenom' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.Mere.prenoms }}  </span>
    
                    </div>

                </div>

                <!-- <div class="groupViewPreselect">

                    <p> {{ 'viewUser.btnpresect' | translate }} Nationalité:</p>
                    <span class="viewValue"> {{ currentUser.nationalite }}  </span>

                </div> -->

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.numpasseport' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.nPasseport }}  </span>

                </div>

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.lemission' | translate }} :</p>
                    <span class="viewValue"> {{ currentUser.lieuPasseport }}  </span>

                </div>

                <div class="groupViewPreselect">

                    <p>{{ 'viewUser.demission' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.dateEmiPasseport }}  </span>

                </div>

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.dexpiration' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.dateExpPasseport }}  </span>

                </div>


                <div class="cardParents">

                    <h2>n {{ 'dashboard.dResidence' | translate }}</h2>

                    <div class="groupViewPreselect">

                        <p> {{ 'viewUser.pays' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.derniereResidencePays }}  </span>
    
                    </div>

                    <div class="groupViewPreselect">

                        <p> {{ 'viewUser.ville' | translate }}:</p>
                        <span class="viewValue"> {{ currentUser.derniereResidence }}  </span>
    
                    </div>

                    <div class="groupViewPreselect">

                        <p> {{ 'viewUser.quartier' | translate }} :</p>
                        <span class="viewValue"> {{ currentUser.derniereResidenceVillage }}  </span>
    
                    </div>

                </div>

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.quartier' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.derniereResidenceVillage }}  </span>

                </div>


                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.qprofessionnelle' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.qualiProfession }}  </span>

                </div>

                

                <div class="cardExperience">     
                    
                    <h2> {{ 'viewUser.exprofessionnelle' | translate }}</h2>
                    
                    
                <table>

                    <thead>
                        <tr>
                            <th> {{ 'viewUser.num' | translate }}</th>
                            <th> {{ 'viewUser.entreprise' | translate }}</th>
                            <th> {{ 'viewUser.ddebut' | translate }}</th>
                            <th> {{ 'viewUser.dfin' | translate }}</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr  *ngFor="let item of currentUser.expProfesionnel; let i = index ">
                            <td> {{i+1}} </td>
                            <td> {{item.entreprise}} </td>
                            <td>  {{item.dateDebut}} </td>
                            <td>  {{item.datefin}} </td>

                        </tr>

                    </tbody>

                </table>
                
                </div>



                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.pprofession' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.principalProfession }}  </span>

                </div>

                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.lparlee' | translate }}:</p>
                    <span class="viewValue"> {{ currentUser.langueParler }}  </span>

                </div>


                <div class="groupViewPreselect">

                    <p> {{ 'viewUser.dhonneur' | translate }} :</p>
                    <span class="viewValue"> {{ viewHonneur }}  </span>

                </div>



               </div>

            </div>



            <div class="notvalide" *ngIf="!isSelect">

                <p>
                    {{ 'dashboard.pasSelect' | translate }} 
                </p>

                <button (click)="goToSelection()"> {{ 'viewUser.btnsect' | translate }}</button>

            </div>

        </div>



        <div class="legooglechart" *ngIf="selecter==2"> 

            <div  *ngIf="isFinance">
                <google-chart [data]="pieChart">
                    
                </google-chart>
             

            </div>



            
            <div class="notvalide" *ngIf="!isFinance">

                <p>
                    {{ 'dashboard.pasPret' | translate }} 
                </p>


            </div>
            

            

        </div>




        <div  *ngIf="selecter==3"> 
          
            <div *ngIf="liste_videos.length >= 0">

                <div class="cardHead"> 
                    <div class="cardStatut">
                       <div class="statut">
                           <span>   {{ 'dashboard.statut' | translate }} </span>
                           <span class="statutSimple" [ngClass]="{'colorSelect': colorValidPreselect }"> {{statutPreselect}} </span>
                       </div>

                       <div class="statut">
                           <span>   {{ 'dashboard.statutF' | translate }} </span>
                           <span class="statutSimple" [ngClass]="{'colorSelect': colorValidSelect }"> {{statutFinance}} </span>
                       </div>

                    </div>

                   <h1>  {{ 'dashboard.videoU' | translate }} </h1>

                   <button (click)="goToVideos()" >  {{ 'dashboard.btnVideo' | translate }}</button>

               </div>


                <div class="cardVideos" >

                    <div class="oneVideo" *ngFor="let item of liste_videos" >

                        <video controls>
                            <source [src]="item.fileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>

                          <h1> {{item.secteur}} </h1>
                          <span>
                              {{ item.nom }}  {{ item.prenoms }}
                          </span>

                         <span *ngIf="item.observation !== '' " >
                          {{ item.observation }}
                         </span>
                    
                         <button *ngIf="!item.isvalideProcess" class="isDelet" (click)="delectVideo(item)"> {{ 'dashboard.btnDelete' | translate }} </button>
                    </div>          

                </div>


            </div>

              
            <div class="notvalide" *ngIf=" liste_videos.length == 0 ">
                <p>
                    {{ 'dashboard.pasVideo' | translate }} 
                </p>

                <button (click)="goToVideos()"> {{ 'dashboard.btnVideo' | translate }}</button>

            </div>

        </div>


        <div  *ngIf="selecter==4"> 
            
            <div class="notvalide" *ngIf="!isCoaching">
                <p>
                    {{ 'dashboard.pasCoursC' | translate }} 
                </p>

            </div>


            <div *ngIf="isCoaching">


                <div class="cardVideos" >

                    <div class="oneVideo" *ngFor="let item of liste_coaching" >

                        <video controls>
                            <source [src]="item.fileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>


                    </div>

                   

                </div>


            </div>

        </div>


        <div  *ngIf="selecter==5"> 
            
            <div class="notvalide" *ngIf="!isCoursAnglaire">
                <p>
                    {{ 'dashboard.pasCoursA' | translate }}  
                </p>

            </div>


            <div *ngIf="isCoursAnglaire">


                <div class="cardVideos" >

                    <div class="oneVideo" *ngFor="let item of liste_coursAnglaire" >

                        <video controls>
                            <source [src]="item.fileVideo" type="video/mp4">
                            Your browser does not support the video tag.
                          </video>


                    </div>

                   

                </div>


            </div>

        </div>

    </div>



    <img *ngIf="currentUser.isProcessSucceful " id="whatsAppIcon" (click)="openWhatsApp()"  src="./../../assets/WhatsApp_icon.png" alt="">

</div>