
.card_dash
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    
}

.nav_dash
{
    width: 210px;
   
   position: relative;
   background-color: #F0F0F2;
   box-shadow: 5px 5px 2px #F0F0F2;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   text-align: center;
   margin-right: 2%;
   
}

.nav_dash > ul {
    position: relative;
    height: 100%;
    padding-left: 0px;

}

.nav_dash > ul > li 
{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}
.card_user {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card_user > img
{
    width: 80px;
    height: 80px;
}
.selctIn
{
    color: white;
    background-color: #764929;
}