<div class="content_in">

    <div class="card-in" >

        <h1>Editer une dette</h1>

        
  <p class="petit_texte"> veuillez remplir les champ pour enregistrer une nouvelle dette pour un voyageur </p>
        

        <div class="inputs"  [formGroup]="detteform" >
            
            <input type="text" [ngClass]="{'error': detteform.controls['libele'].invalid && detteform.controls['libele'].value!=''}"  formControlName="libele" placeholder="Libéle de la dette" >
           
            
            <select  [ngClass]="{'error': detteform.controls['user'].invalid && detteform.controls['user'].value!='choisir le profil'}"  formControlName="user" >
              <option value=""> {{theUser.nom}}    {{theUser.prenom}} </option>
              <option *ngFor="let item of listUser" [value]="item">  {{item.nom}}    {{item.prenom}}  </option>

             </select> 
           
            <input type="number" [ngClass]="{'error': detteform.controls['montantDu'].invalid && detteform.controls['montantDu'].value!=''}"  formControlName="montantDu" placeholder="Montant" >
            <input  type="number"  [ngClass]="{'error': detteform.controls['dateDette'].invalid }"  formControlName="dateDette" placeholder="Date de la dette" >
       
 
                <button  class="boutton"  (click)="editDette()">Ajouter</button>               

            </div>

        </div>

    </div>

   

  

<div  *ngIf="loading" class="loader">

  <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>

  <div class="groupError"  *ngIf="iserrorlog" >
    <p class="smsError"  >  {{erreur_message}} </p>
    <button  (click)="closeError() " >ok</button>
  </div>

  

</div>

