<div class="content_pre">

    <div class="card-in" *ngIf="!switch" >

        <h1>Pré selection</h1>

        
  <p class="petit_texte"> veuillez entrer vos informations pour la préselection </p>
        

        <div class="inputs"  [formGroup]="preselectform" >
            
            <input  type="text"  [ngClass]="{'error': preselectform.controls['age'].invalid && preselectform.controls['age'].value!=''}"  formControlName="age" placeholder="Age" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['sMatrimoniale'].invalid && preselectform.controls['sMatrimoniale'].value!=''}"  formControlName="sMatrimoniale" placeholder="Situation Matrimoniale" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['NEtude'].invalid && preselectform.controls['NEtude'].value!=''}"  formControlName="NEtude" placeholder="Niveau d'étude" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['metier'].invalid && preselectform.controls['metier'].value!=''}"  formControlName="metier" placeholder="Métier" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['aDiplome'].invalid && preselectform.controls['aDiplome'].value!=''}"  formControlName="aDiplome" placeholder="Année de Diplôme" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['dApprentissage'].invalid && preselectform.controls['dApprentissage'].value!=''}"  formControlName="dApprentissage" placeholder="Durée d'apprentissage" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['aExperience'].invalid && preselectform.controls['aExperience'].value!=''}"  formControlName="aExperience" placeholder="Année d'experience" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['ePrecedent'].invalid && preselectform.controls['ePrecedent'].value!=''}"  formControlName="ePrecedent" placeholder="Employeur précédent" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['passport'].invalid && preselectform.controls['passport'].value!=''}"  formControlName="passport" placeholder="Passeport" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['nationalite'].invalid && preselectform.controls['nationalite'].value!=''}"  formControlName="nationalite" placeholder="Nationalité" >
          
            <div class="groupe_number">

                <div class="groupe_prefixe">
                     
                    <input id='code_pays' type="text" [(ngModel)]="pre"   placeholder="+229" >
               
                </div>
                  <input id= 'input_number' type="text"  [(ngModel)]="edite" placeholder="Numéro de téléphone" >
        
                </div>
          
            <input  type="text"  [ngClass]="{'error': preselectform.controls['parrain'].invalid && preselectform.controls['parrain'].value!=''}"  formControlName="parrain" placeholder="Parrein" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['region'].invalid && preselectform.controls['region'].value!=''}"  formControlName="region" placeholder="Région" >
           
           <div  class="lecheck">
            <input id="lecheck_input" type="checkbox"  [ngClass]="{'error': preselectform.controls['ldtep2'].invalid && preselectform.controls['ldtep2'].value!='', 'checked':  preselectform.controls['ldtep2'].value} "  formControlName="ldtep2">
            être vous immediatement disponible
          
           </div>
          
 
                <button  class="boutton"  (click)="suivant()"> Suivant </button> 
              
        </div>

</div>

<div>
    <div class="inputs" *ngIf="switch"  [formGroup]="preselectform" >
            
     
        
        <input  type="file"  [ngClass]="{'error': preselectform.controls['parrain'].invalid && preselectform.controls['parrain'].value!=''}"  formControlName="parrain" placeholder="Parrein" >
           
    
            <button  class="boutton"  (click)="preselect()">Soumettre</button> 
          
    </div>

</div>

