<div class="content_pre">

    <div class="card-in" *ngIf="!switch" >

        <h1>Pré selection</h1>

        
  <p class="petit_texte"> veuillez entrer vos informations pour la préselection </p>
        

        <div class="inputs"  [formGroup]="preselectform" >
            
            <input  type="number"  [ngClass]="{'error': preselectform.controls['age'].invalid || preselectform.controls['age'].value>120}"  formControlName="age" placeholder="Age" >
          
            <select  [ngClass]="{'error': preselectform.controls['sMatrimoniale'].invalid && preselectform.controls['sMatrimoniale'].value!='Situation Matrimoniale'}"  formControlName="sMatrimoniale" >
                <option value=""> Situation Matrimoniale </option>
                <option *ngFor="let item of listMatrimonial" [value]="item">  {{item}} </option>

               </select>

            <input  type="text"  [ngClass]="{'error': preselectform.controls['NEtude'].invalid && preselectform.controls['NEtude'].value!=''}"  formControlName="NEtude" placeholder="Niveau d'étude" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['metier'].invalid && preselectform.controls['metier'].value!=''}"  formControlName="metier" placeholder="Métier" >
            <input  type="number"  [ngClass]="{'error': preselectform.controls['aDiplome'].invalid || preselectform.controls['aDiplome'].value>=2026}"  formControlName="aDiplome" placeholder="Année de Diplôme" >
            <input  type="number"  [ngClass]="{'error': preselectform.controls['dApprentissage'].invalid || preselectform.controls['dApprentissage'].value>=60}"  formControlName="dApprentissage" placeholder="Durée d'apprentissage" >
            <input  type="number"  [ngClass]="{'error': preselectform.controls['aExperience'].invalid || preselectform.controls['aExperience'].value>=50}"  formControlName="aExperience" placeholder="Année d'experience" >
            <input  type="text"  [ngClass]="{'error': preselectform.controls['ePrecedent'].invalid && preselectform.controls['ePrecedent'].value!=''}"  formControlName="ePrecedent" placeholder="Employeur précédent" >
            <!-- <input  type="boolean"  [ngClass]="{'error': preselectform.controls['passport'].invalid && preselectform.controls['passport'].value!=''}"  formControlName="passport" placeholder="Passeport" > -->
            <input  type="text"  [ngClass]="{'error': preselectform.controls['nationalite'].invalid && preselectform.controls['nationalite'].value!=''}"  formControlName="nationalite" placeholder="Nationalité" >
          
                      
            <input  type="text"  [ngClass]="{'error': preselectform.controls['parrain'].invalid && preselectform.controls['parrain'].value!=''}"  formControlName="parrain" placeholder="Parrein" >
             
            <select  [ngClass]="{'error': preselectform.controls['religion'].invalid && preselectform.controls['religion'].value!='votre réligion'}"  formControlName="religion" >
                <option value=""> votre réligion </option>
                <option *ngFor="let item of listReligion" [value]="item">  {{item}} </option>

               </select>
     </div>


               <div class="groupe_number">

                <div class="groupe_prefixe">
                     
               
                    <select  id='code_pays'   [(ngModel)]="pre" placeholder="votre  prefixe"   >
               
                        <option value=""> votre  prefixe </option> 
                        <option *ngFor="let item of listPrefixe" [value]="item.prefix"> {{item.name}} ({{item.prefix}}) </option>
        
                       </select>
               
                </div>
                  <input id= 'input_number' type="text"  [(ngModel)]="edite" placeholder="Numéro Whatsapp" >
        
                </div>

           
                <div  [formGroup]="preselectform">

                    <div  class="lecheck">
               
                        <input id="lecheck_input1" type="checkbox"  [ngClass]="{'checked': preselectform.controls['passport'].value}"  formControlName="passport" placeholder="Passeport" >
                       Aviez vous un Passeport en cours de validité ?
                      
                       </div>
        
                   <div  class="lecheck">
                    <input id="lecheck_input" type="checkbox"  [ngClass]="{'error': preselectform.controls['ldtep2'].invalid && preselectform.controls['ldtep2'].value!='', 'checked':  preselectform.controls['ldtep2'].value} "  formControlName="ldtep2">
                    êtes vous immediatement disponible ?
                  
                   </div>
                  
         
                        <button  class="boutton" [disabled]="preselectform.get('ldtep2')?.value === false "   (click)="suivant()"> Suivant </button> 
                      

                </div>


          
       

</div>

</div>


<div  class="content_preImg" *ngIf="switch">
    <div class="inputs_suivant"   [formGroup]="preselectform" >

          <h2>Ajouter les images des reçus de la presélection</h2>


          <div class="card-inputFils" (click)="getfils()">
              +
          </div>

         
            <mat-progress-bar id="laBarDownload33" mode="determinate" [value]="progressValue"  *ngIf="isUploading"></mat-progress-bar>

            <span (click)="getfils()"> 
                <img src="./../../assets/download_icon.png " alt="">
            </span>
       
                
        
        <input  type="file" multiple #fileInput [ngClass]="{'error': preselectform.controls['fils_recus'].invalid && preselectform.controls['fils_recus'].value!=''}"  formControlName="fils_recus" placeholder="" (change)="onFilesSelected($event)" >
           
  

        
        <div class="lesboutonSP">

            <button  class="boutton1"  (click)="precedent()"> Précédent </button> 
            <button  id="boutton1"  (click)="preselect()">Soumettre</button> 
            
        </div>

           
          
    </div>


<div  *ngIf="loading" class="loader">

    <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>
  
    <div class="groupError"  *ngIf="iserrorlog" >
      <p class="smsError" >  {{message}} </p>
      <button  (click)="closeError() " >ok</button>
    </div>
  
  </div>





