/* Styles globaux pour body et html */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.content_pre, .content_preImg
{
    width: 100%; 
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-image: url("./../../assets/roumanie-visiter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card-in
{
    display: flex;
    flex-direction: column;
    width: 400px;
    // height: 400px;
    background: white;
    border: solid 1px #764929;
    padding-left: 2%;
    padding-right: 2%;
}

h1 {
    text-align: center;
    font-size: 25px;
    color:  black;
    width: 90%;
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.inputs
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input
{
   width: 90%;
   margin-bottom: 30px;
   height: 52px;
   padding-left: 10px;
   background: #FFFFFF;
   border: 1px solid #D9D9D9;
   border-radius: 8px;
   margin-left: 9px;

}


.petit_texte
{
    width: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #52526F;
}

input .error {
    border: solid 1px #c93b2d;
  }

input ::placeholder
{
    color: black;
    font-size: 15px;
    font-weight: bold;

}

 #boutton1
{
    width: 40%;
    height: 33px;
    text-align: center;
    border-radius: 500px;
    color:  white;
    background: #764929;
   border: 1px solid #764929;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 30px;
   font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
margin-bottom: 20px;
margin-left: 15px;
   
}


.card-inputFils
{
    display: block;
}

span
{
 
   display: none;

}

:disabled {
    background: #ccc;
    cursor: not-allowed;
    // color: #888;
}
#fileInput
{
    display: none;;
}

textarea {
    width: 90%;
    margin-bottom: 30px;
    // height: 52px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-left: 9px;

}

.card-inputFils
{
    display: block;
    width: 50%;
    height: 20px;   
    color: #D9D9D9;
    border: dashed 2px #D9D9D9;
    padding: 20%;
    border: dashed 2px #D9D9D9;
    padding: 20%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 14px;   
    cursor: pointer; 
}

.loader
{
    position: absolute;
    top: 32%;
    left: 50%;
    width: 150px;
    height: 100px;
    padding-top: 50px;
    padding-left: 100px;
    background: #DEDEDE;
    border-radius: 10px;
    transform: translateX(-50%);
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 2px;
    border: 30px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #764929 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




@media (max-width: 1000px ) {


    .content_preImg
    {
        width: 100%;
        height: 100%;
        padding-top: 40%;
        padding-bottom: 10%;
        position: absolute;
    }
  
    .card-in {
        top: 10%; 
       } 
       .loader 
       {
         top: 15%;
         left: 50%;
         width: 150px;
         height: 150px;
         padding-top: 80px;
         padding-left: 80px;
     
       }
     
       .lds-ring {
     
         width: 35px;
         height: 35px;
       }
     


  }


  @media (max-width: 500px ) {

    .inputs_suivant > h2
{
        margin-top: 50%;
        text-align: center;
        padding-right: 15%;
}

    .card-inputFils
    {
        display: none;
    }

    span
{
   width: 100px;
   height: 100px;
   display: block;
   margin-top: 30px;
   margin-left: 25%;

}

span > img
{
    width: 100%;
    height: 100%;
}


#laBarDownload33
{
   width: 30%;
   margin-top: 5px;
   margin-bottom: 5px;
}

    .content_pre,  .content_preImg
    {
         background: none;
        padding-top: 0%;
        // padding-bottom: 5%;
        background-image: url("./../../assets/motifafro.png");
        height: 100%;
        
    }
    

    .card-in
    {
        border: none;
        top: 0%;
        width: 100%;
        padding-left: 10%;
        padding-right: 5%;
         background-image: url("./../../assets/motifafro.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

   #boutton1 
   {
    height: 40px; 
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 200px;
    margin-left: 20%;
   }

  

  }


