<div class="content_in">

    <div class="card-in" >

        <h1>{{ 'finance.tittleRembEdit' | translate }} </h1>

        
  <p class="petit_texte"> {{ 'finance.tittleRembEdit' | translate }} </p>
        

        <div class="inputs"  [formGroup]="remboursementform" >
            
            <input type="text" [ngClass]="{'error': remboursementform.controls['libele'].invalid && remboursementform.controls['libele'].value!=''}"  formControlName="libele" placeholder="Libéle de la dette" >
           
             
            <select  [ngClass]="{'error': remboursementform.controls['user'].invalid && remboursementform.controls['user'].value!='choisir le profil'}"  formControlName="user" >
              <option value=""> {{theUser.nom}}    {{theUser.prenom}} </option>
              <option *ngFor="let item of listUser" [value]="item">  {{item.nom}}    {{item.prenom}}  </option>

             </select> 
           
            <input type="number" [ngClass]="{'error': remboursementform.controls['montantRembourse'].invalid && remboursementform.controls['montantRembourse'].value!=''}"  formControlName="montantRembourse" placeholder="Montant" >
            <input  type="number"  [ngClass]="{'error': remboursementform.controls['dateRemboursement'].invalid }"  formControlName="dateRemboursement" placeholder="Date de la dette" >
       
 
                <button  class="boutton"  (click)="editRemboursement()">{{ 'finance.btnAjoute' | translate }}</button>               

            </div>

        </div>

    </div>

   

  

<div  *ngIf="loading" class="loader">

  <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>

  <div class="groupError"  *ngIf="iserrorlog" >
    <p class="smsError"  >  {{erreur_message}} </p>
    <button  (click)="closeError() " >ok</button>
  </div>

  

</div>

