<!-- <app-singnin></app-singnin> -->
<!-- <app-singnup></app-singnup> -->
<!-- <app-preselection></app-preselection> -->
<!-- <app-selection></app-selection> -->

<!-- <app-videos></app-videos> -->
<!-- <app-dashboard-admin></app-dashboard-admin> -->
<!-- <app-dashboard-partenaire></app-dashboard-partenaire> -->
<!-- <app-view-user></app-view-user> -->
<!-- <app-dashboard-user></app-dashboard-user> -->
<!-- <app-edit-preselect></app-edit-preselect> -->
<!-- <app-edit-select></app-edit-select> -->
 

<router-outlet></router-outlet>