<div class="content_in">

    <div class="card-in" >

        <h1> {{ 'finance.tittleRemb' | translate }} </h1>

        
  <p class="petit_texte"> {{ 'finance.textRemb' | translate }} </p>
        

        <div class="inputs"  [formGroup]="remboursementform" >
            
            <input type="text" [ngClass]="{'error': remboursementform.controls['libele'].invalid && remboursementform.controls['libele'].value!=''}"  formControlName="libele" [placeholder]=" 'finance.placeholderLibeleRemb' | translate " >
           
             
            <select id="cvSelect"  [ngClass]="{'error': remboursementform.controls['user'].invalid && remboursementform.controls['user'].touched}"  formControlName="user" >
              <option [ngValue]="null"> {{ 'finance.choixProfil' | translate }} </option>
              <option *ngFor="let item of listUser" [ngValue]="item">  {{item.nom}}    {{item.prenom}}  </option>

             </select> 
           
            <input type="number" [ngClass]="{'error': remboursementform.controls['montantRembourse'].invalid && remboursementform.controls['montantRembourse'].value!=''}"  formControlName="montantRembourse" [placeholder]="'finance.montant' | translate" >
            <input  type="date"  [ngClass]="{'error': remboursementform.controls['dateRemboursement'].invalid }"  formControlName="dateRemboursement" [placeholder]="'finance.dateRemb' | translate" >
       
 
                <button  class="boutton"  (click)="ajoutRemboursement()">{{ 'finance.choixProfil' | translate }}</button>               

            </div>

        </div>

    </div>

   

  

<div  *ngIf="loading" class="loader">

  <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>

  <div class="groupError"  *ngIf="iserrorlog" >
    <p class="smsError"  >  {{erreur_message}} </p>
    <button  (click)="closeError() " >ok</button>
  </div>

  

</div>

