<div class="content_in">

    <div class="card-in" >

        <h1>{{ 'singnup.tittle' | translate }}</h1>

        
  <p class="petit_texte">{{ 'singnup.texte' | translate }} </p>
        

        <div class="inputs"  [formGroup]="userform" >
            
            <input  type="text"  [ngClass]="{'error': userform.controls['nom'].invalid && userform.controls['nom'].value!=''}"  formControlName="nom" [placeholder]="'singnup.placeholderNom' | translate" >
                
            <input  type="text"  [ngClass]="{'error': userform.controls['prenom'].invalid && userform.controls['prenom'].value!=''}"  formControlName="prenom" [placeholder]="'singnup.placeholderPrenom' | translate" >
          
            
            <input type="email" [ngClass]="{'error': userform.controls['mail'].invalid && userform.controls['mail'].value!=''}"  formControlName="mail" [placeholder]="'singnup.placeholderEmail' | translate" >
           
            <div class="groupe_number">

                <div class="groupe_prefixe">
                     
                     
                    <select  id='code_pays'   formControlName="code"  [ngClass]="{'error': userform.controls['code'].invalid && userform.controls['code'].value!='Langue étrangère parler'}"  >
               
                      <option value=""> {{ 'singnup.prefixe' | translate }} </option> 
                      <option *ngFor="let item of listPrefixe" [value]="item.prefix"> {{item.name}} ({{item.prefix}}) </option>
      
                     </select>
                         
                </div>
                  <input id= 'input_number' type="text"  [ngClass]="{'error': userform.controls['numero'].invalid && userform.controls['numero'].value!=''}"  formControlName="numero" [placeholder]="'singnup.placeholderNumero' | translate" >
        
                </div>

                <div class="groupe">
                      
                    <div class="les_inputs">
                      <input [type]="le_type"  [ngClass]="{'error': userform.controls['mdp'].invalid && userform.controls['mdp'].value!=''}"  formControlName="mdp" [placeholder]="'singnup.mdp' | translate" >
                      <img class="icon_vu" (click)="affiche_mpd()" *ngIf="voir"  src="assets/eye-regular.png" alt="">
                    <img class="icon_vu" (click)="affiche_mpd()" *ngIf="!voir" src="assets/eye-slash-regular.png" alt="">

                    </div>
                   <p>
                    {{ 'singnup.mdpCara' | translate }}
                     </p>

                 
                  </div>

      </div>


                  <div class="groupe">

                    <div class="les_inputs">
                      <input [type]="le_type1"  [ngClass]="{'error': userform.controls['mdp'].value!=confirm_mdp}"  [(ngModel)]="confirm_mdp"   [placeholder]=" 'singnup.placeholderConfirme' | translate" >
                  
                      <img id="icon_vu1" (click)="affiche_mpd1()" *ngIf="voir1"  src="assets/eye-regular.png" alt="">
                      <img id="icon_vu11" (click)="affiche_mpd1()" *ngIf="!voir1" src="assets/eye-slash-regular.png" alt="">
                    </div>
                  
                  </div>  
                  
                       <div class="condition">
                            <div class="case_corchee" (click)="accept_condition()"  [ngClass]="{'active_case': condition_accept}" > </div>
                             <div class="texte_condition">
      
                                <span>     {{ 'singnup.condition' | translate }} </span>
                                <a (click) = "goToPolitique() " >  {{ 'singnup.politique' | translate }} </a>
                                <span> et les</span>
                                <a (click)="goToTerme() " >  {{ 'singnup.terme' | translate }} </a>
      
                             </div>                      
                        
      
                       </div>
          
    
            <div class="les_boutons" >
 
                <button  class="boutton" [disabled]=" condition_accept === false "   (click)="sign_up()">  {{ 'singnup.bouttonIscrire' | translate }} </button> 
                <a id="botton_bas" routerLink="../signin" >  {{ 'singnup.bouttonConnect' | translate }} </a>

            </div>

       

    </div>

   

  

<div  *ngIf="loading" class="loader">

  <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>

  <div class="groupError"  *ngIf="iserrorlog" >
    <p class="smsError" >  {{erreur_message}} </p>
    <button  (click)="closeError() " >ok</button>
  </div>

</div>

</div>