<div class="content_pre" >    
    
    
    <div class="card-in"  [formGroup]="videoform">

        <h1>Vidéo de presentation d'activité</h1>
    
        <input  type="text"  [ngClass]="{'error': videoform.controls['secteur'].invalid && videoform.controls['secteur'].value!=''}"  formControlName="secteur" placeholder="Secteur d'activité" >
      
        <textarea  [ngClass]="{'error': videoform.controls['description'].invalid && videoform.controls['description'].value!=''}"  formControlName="description" placeholder="Métier" rows="6" cols="6"></textarea>
     
     

        
        <div class="card-inputFils" (click)="getfils()">
            +
        </div>

       
          <mat-progress-bar id="laBarDownload33" mode="determinate" [value]="progressValue"  *ngIf="isUploading"></mat-progress-bar>

          <span (click)="getfils()"> 
              <img src="./../../assets/download_icon.png " alt="">
          </span>
     
              
      
      <input id="fileInput"  type="file" multiple #fileInput [ngClass]="{'error': videoform.controls['filVideo'].invalid && videoform.controls['filVideo'].value!=''}"  formControlName="filVideo" placeholder="" (change)="onFilesSelected($event)" >
         


          <button  id="boutton1"  (click)="ajoutVideo()">Soumettre</button> 
     
    </div>



    <div  *ngIf="loading" class="loader">

        <div *ngIf="!iserrorlog" class="lds-ring"><div></div><div></div><div></div></div>
      
        <div class="groupError"  *ngIf="iserrorlog" >
          <p class="smsError" >  {{message}} </p>
          <button  (click)="closeError() " >ok</button>
        </div>
      
      </div>

</div>




